$color-txt-nav: #ffffff;
$font-size-txt: 22px;
$font-family-general: 'Roboto', sans-serif;

$mapexample: (
    'color-txt-nav': #ffffff,
    'font-size-txt': 22px,
    'font-family-general': 'Roboto', sans-serif,
)