{% extends "../home.html" %}
{% load static %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{%static 'css/jumbotron.css'%}">
<body>
  {% block contenido %} 
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Pokedex Django</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li><a href="/Pokedex/home/">Home</a></li>
          <li class="active"><a href="/Pokedex/pokemon/">Pokemon Uploader</a></li>
          <li><a href="/Pokedex/about/">About us!</a></li>

          {% if not request.user.is_authenticated %}
          <li><a href="/Pokedex/login/">Login</a></li>
          <li><a href="/Pokedex/register/">Sing Up!</a></li>
          {% endif %}

          {% if request.user.is_authenticated %}
          <li><a href="/Pokedex/logout">Log Out!</a></li>
          <li><h3 class="small mb-4 mb-lg-0">Hello {{user.username}}.</h3></li>
          <li><a href="/Pokedex/edit_user/"><img src="{{url}}" style="height: 40px; width: 40px; "></a><li>

          {% endif %}

      </ul>

      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
   <nav class="jumbo-nav">
    <div class="navigation-wrapper">
      <div class="navigation">
        <div class="header-logo">
          <a href="/Pokedex/home/">
            <img src="{%static 'images/pokedex.webp'%}" />
          </a>
        </div>
      </div>
      

      <!-- Example row of columns -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="{%static 'images/uploader.png'%}" class="img-responsive" alt="Login">
            <form class="formDataPokemon" method="POST" action="/Pokedex/create_pokemons/">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="numero" placeholder="Number" />
                    <input type="text" class="form-control" name="nombre" placeholder="Name" /> 
                    <input type="text" class="form-control" name="tipo1" placeholder="Type 1" />
                    <input type="text" class="form-control" name="tipo2" placeholder="Type 2" />
                    <input type="text" class="form-control" name="habilidad" placeholder="Ability" />
                    <input type="text" class="form-control" name="debilidad" placeholder="Weakness" />
                    <input type="text" class="form-control" name="imagen" placeholder="Image" />
            
                    <button type="submit" class="btn btn-warning btndj">Registrar Pokemon</button>
                </div>
            </form>
          </div>
        </div>
      </div>
  </nav>
  
  {% endblock %}