  {% extends "home.html" %}
  {% load static %}
  <body>
    {% block contenido %} 
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li><a href="/Pokedex/home/">Home</a></li>
            <li><a href="/Pokedex/pokemons">Pokedex</a></li>
            <li class="active"><a href="/Pokedex/about/">About us!</a></li>


            {% if not request.user.is_authenticated %}
            <li><a href="/Pokedex/login/">Login</a></li>
            <li><a href="/Pokedex/register/">Sing Up!</a></li>
            {% endif %}

            {% if request.user.is_authenticated %}
            <li><a href="/Pokedex/createpokemon/">Pokemon Uploader</a></li>
            <li><a href="/Pokedex/my_pokemons">My Pokemons</a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><h3 class="small mb-4 mb-lg-0">Hello {{user.username}}.</h3></li>
            <li><img src="{{user.avatar.imagen.url}}" style="height: 40px; width: 40px; "><li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a href="/Pokedex/edit_user/">Edit User</a></li> 
            <li><a href="/Pokedex/logout">Log Out!</a></li> 
                {% endif %}
                
            </ul>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
     <nav class="jumbo-nav">
      <div class="navigation-wrapper">
        <div class="navigation">
          <div class="header-logo">
            <a href="/Pokedex/home/">
              <img src="{%static 'images/pokedex.webp'%}" />
            </a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
        <!-- Example row of columns -->
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="pokeball-wrapper">
                <img src="./images/pokeball.png" />
              </div>
              <div class="enhanced">
                <h2>Herrera Omar</h2>
                <img class="pokemon small" src="./images/pokemon2.png" />
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">Ver mas &raquo;</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pokeball-wrapper">
                <img src="./images/pokeball.png" />
              </div>
            <div class="enhanced">
                <h2>Gonzalez Pablo</h2>
                <img class="pokemon small" src="./images/pokemon3.png" />
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">Ver mas &raquo;</a></p>
             </div>
           </div>
          </div>
        </div>
        
      </div>
    </nav>
    {% endblock %}
