<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="" />
        <meta name="author" content="ThemeFactory.net" />

        <title>Pokedex</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{%static 'css/jumbotron.css'%}">
    </head>
    {% block contenido %}
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Pokedex Django</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../">Home</a></li>
                        <li><a href="/Pokedex/about/">About us!</a></li>

                        {% if not request.user.is_authenticated %}
                        <li><a href="/Pokedex/login/">Login</a></li>
                        <li><a href="/Pokedex/register/">Sing Up!</a></li>
                        {% endif %}
        
                        {% if request.user.is_authenticated %}
                        <img src="{{url}}" style="height: 40px; width: 40px; ">
                        <h3 class="text-muted small mb-4 mb-lg-0">Hello {{user.username}}.</h3>
                        <li><a href="/Pokedex/logout/">Log Out!</a></li>

        
                        {% endif %}

                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <nav class="jumbo-nav">
            <div class="navigation-wrapper">
                <div class="navigation">
                    <div class="header-logo">
                        <a href="/Pokedex/home/">
                            <img src="{%static 'images/pokedex.webp'%}" />
                            
                        </a>
                    </div>
                </div>

                <!-- Example row of columns -->
                <div class="container">
                    <div class="row">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <br/>
            <img src="{%static 'images/latest.png'%}" />
            <hr/>

                            <!-- Example row of columns -->
                            <div class="container">
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pokeball-wrapper">
                                            <img src="{%static 'images/pokeball.png'%}" />
                                        </div>
                                        <div class="enhanced">
                                            <h2>Heading</h2>
                                            <img class="pokemon small" src="{%static 'images/pokemon2.png'%}" />
                                            <p>
                                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                            </p>
                                            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="pokeball-wrapper">
                                            <img src="{%static 'images/pokeball.png'%}" />
                                        </div>
                                        <div class="enhanced">
                                            <h2>Heading</h2>
                                            <img class="pokemon small" src="{%static 'images/pokemon3.png'%}" />
                                            <p>
                                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                                                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                            </p>
                                            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="pokeball-wrapper">
                                            <img src="{%static 'images/pokeball.png'%}" />
                                        </div>
                                        <div class="enhanced">
                                            <h2>Heading</h2>
                                            <img class="pokemon small" src="{%static 'images/pokemon1.png'%}" />
                                            <p>
                                                Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                                                Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
                                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus
                                                fermentum massa amet justo sit risus.
                                            </p>
                                            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
        
    {% endblock %}
            <footer>
                <div class="header-logo">
                    <a href="#">
                        <img src="{%static 'images/Python.png'%}" />
                    </a>
                </div>
                <p>&copy; 2022 Company, Inc.</p>
            </footer>
        </div>
        <!-- /container -->

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
    </body>
</html>
