{%extends "home.html"%} {%load static%}

<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{%block contenido%}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container text-center">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
            >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Pokedex/home/">Home</a></li>
                <li><a href="/Pokedex/pokemons">Pokedex</a></li>
                <li><a href="/Pokedex/about/">About us!</a></li>

                {% if not request.user.is_authenticated %}
                <li><a href="/Pokedex/login/">Login</a></li>
                <li><a href="/Pokedex/register/">Sing Up!</a></li>
                {% endif %} {% if request.user.is_authenticated %}
                <li><a href="/Pokedex/createpokemon/">Pokemon Uploader</a></li>
                <li class="active"><a href="/Pokedex/my_pokemons">My Pokemons</a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><h3 class="small mb-4 mb-lg-0">Hello {{user.username}}.</h3></li>
                <li>
                    <img src="{{user.avatar.imagen.url}}" style="height: 40px; width: 40px" />
                    <li></li>
                    <li><a></a></li>
                </li>

                <li><a></a></li>
                <li><a href="/Pokedex/edit_user/">Edit User</a></li>
                <li><a href="/Pokedex/logout">Log Out!</a></li>
                {% endif %}
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<nav class="jumbo-nav">
    <div class="navigation-wrapper">
        <div class="navigation">
            <div class="header-logo">
                <a href="/Pokedex/home/">
                    <img src="{%static 'images/pokedex.webp'%}" />
                </a>
            </div>
        </div>

        <!-- Example row of columns -->
        <div class="container">
            <div class="row">
                <div class="space">
                    <br />
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="jumbo-nav2">
    <div class="navigation-wrapper2">
        <div class="navigation">
            <div class="header-logo">
                <a href="/Pokedex/home/">

                </a>
                <hr />
                <br />
            </div>
        </div>

        <div class="container">
            <div class="row">
                    </div>
                </div>
                {%endfor%} {%endif%}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
