<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
{% extends "home.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css\bootstrap.min.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Pokemon</h1>
    <h1 class="texto">Registrar Pokemon</h1>

    
         
        <form class="fieldset" action="/Pokedex/pokemon/" method="POST">
            {% csrf_token %}  
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                    <input class="form-control" type="text" name="nombre" placeholder="">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Numero</span>
                    <input class="form-control" type="text" name="numero" placeholder="">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">tipo1</span>
                    <input class="form-control" type="text" name="tipo1" placeholder="">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">tipo2</span>
                    <input class="form-control" type="text" name="tipo2" placeholder="">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Habilidad</span>
                    <input class="form-control" type="text" name="habilidad" placeholder="">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">debilidad</span>
                    <input class="form-control" type="text" name="debilidad" placeholder="">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Imagen</span>
                    <input class="form-control" type="text" name="imagen" placeholder="">
                </div>

                <div class="input-group mb-3">
                    <button type="submit" value="Enviar" class="btn btn-primary btndj mt-3">Enviar</button>
                </div>
        </form>
    

    <br>
    <h1 class="texto">Buscar Pokemon</h1>
    <!-- BUSCAR -->
    <div>
        <form class="fieldset" action="/Pokedex/buscar_pokemon" method="GET">
            <input type="text" name="nombre" placeholder="Buscar por nombre" />
            <button type="submit" class="btn btn-primary btndj mt-3 mb-5">Buscar</button>
        </form>
    </div>   
    <div class="fieldset">
        {% if pokemons %}
        <ul>
            {% for pokemon in pokemons %}
            <li>Nombre: {{pokemon.nombre}}</li>
            <li>Numero: {{pokemon.numero}}</li>
            <li>Tipo1 de Nacimiento: {{pokemon.tipo1}}</li>
            <li>tipo2: {{pokemon.tipo2}}</li>
            <li>Habildidad: {{pokemon.habilidad}}</li>
            <li>Debilidad: {{pokemon.debilidad}}</li>
            <li>Imagen: <img src="{{pokemon.imagen}}" alt="{{pokemon.imagen}}"  width="400" height="300"></li>
            
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>