{% extends "home.html" %}
{% load static %}


    <link rel="stylesheet" href="{%static 'css/style.css'%}">
<body>
    {% block contenido %} 
    <h1 class="texto">Pokemon</h1>
    <h1 class="texto">Registrar Pokemon</h1>

    <div>
        <form class="fieldset" action="/Pokedex/pokemon/" method="POST">
            {% csrf_token %}    
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="">
                </div>

                <div>
                    <label for="apellido">Numero</label>
                    <input type="text" name="numero" placeholder="">
                </div>

                <div>
                    <label for="fechanacimiento">tipo1</label>
                    <input type="text" name="tipo1" placeholder="">
                </div>

                <div>
                    <label for="dni">tipo2</label>
                    <input type="text" name="tipo2" placeholder="">
                </div>

                <div>
                    <label for="cuil">Habilidad</label>
                    <input type="text" name="habilidad" placeholder="">
                </div>

                <div>
                    <label for="wwid">debilidad</label>
                    <input type="text" name="debilidad" placeholder="">
                </div>
                <div>
                    <label for="wwid">Imagen</label>
                    <input type="text" name="imagen" placeholder="">
                </div>

                <div>
                    <button type="submit" value="Enviar" class="btn btn-primary btndj mt-3">Enviar</button>
                </div>
        </form>
    </div>
    <br>
    <h1 class="texto">Buscar Pokemon</h1>
    <!-- BUSCAR -->
    <div>
        <form class="fieldset" action="/Pokedex/buscar_pokemon" method="GET">
            <input type="text" name="nombre" placeholder="Buscar por nombre" />
            <button type="submit" class="btn btn-primary btndj mt-3 mb-5">Buscar</button>
        </form>
    </div>   
    <div class="fieldset">
        {% if pokemons %}
        <ul>
            {% for pokemon in pokemons %}
            <li>Nombre: {{pokemon.nombre}}</li>
            <li>Numero: {{pokemon.numero}}</li>
            <li>Tipo1 de Nacimiento: {{pokemon.tipo1}}</li>
            <li>tipo2: {{pokemon.tipo2}}</li>
            <li>Habildidad: {{pokemon.habilidad}}</li>
            <li>Debilidad: {{pokemon.debilidad}}</li>
            <li>Imagen: <img src="{{pokemon.imagen}}" alt="{{pokemon.imagen}}"  width="400" height="300"></li>
            
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>